.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 10px 0;
  }
}

canvas {
  margin: 10px auto;
  display: block;
  border: 1px solid red;
}