.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 500px;
	overflow: hidden;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	background: #e9e3f1;

	canvas {
		transform: scale(.3);
		display: block;
		cursor: move;
		transform-origin: 95% 50%;
		margin-left: -700px;
		&.horizontalCanvas {
			margin-left: -1000px;
		}
	}
	.borderControls {
		margin-left: 100px;
		width: 400px;
	}
	.addPhoto {
		height: 45px;
		cursor: pointer;
		display: block;
		width: 240px;
		box-sizing: border-box;
		line-height: 35px;
		padding: 5px 15px 5px 50px;
		background: #ef207b;
		border-radius: 3px;
		position: relative;
		margin-bottom: 40px;
		color: #fff;
		user-select: none;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 15px;
			width: 22px;
			height: 22px;
			margin-top: -11px;
			background: url("../img/icons/photo-camera.svg") center center / cover no-repeat;
		}
		input {
			display: none;
		}
	}
	.border {
		display: flex;
		justify-content: space-between;
	}
	.radio {
		display: flex;
		flex-direction: row;
		margin-bottom: 15px;
		input {
			display: none;
		}
		label {
			display: block;
			position: relative;
			box-sizing: border-box;
			padding-left: 18px;
			margin-left: 8px;
			&:before {
				content: '';
				width: 12px;
				height: 12px;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -7px;
				border: 1px solid #ef207b;
				background: #e9e3f1;
			}
		}
		input:checked + label {
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				margin-top: -6px;
				width: 10px;
				height: 10px;
				background: #ef207b;
				border: 1px solid #e9e3f1;
				left: 1px;
			}
		}
	}
	.borderBox {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 40px;
		.horizontal {
			display: none;
		}
		.borderItem {
			width: 80px;
			height: 100px;
			cursor: pointer;
			border: 1px solid #9d99a7;
			position: relative;
			&.checked {
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 30px;
					height: 30px;
					margin-top: -15px;
					margin-left: -15px;
					background: url("../img/icons/done.svg") center center / cover no-repeat;
				}
			}
		}
	}
	.photoSize {
		margin-bottom: 50px;
		.label {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 15px;
			.reset {
				color: #ef207b;
				border-bottom: 1px dashed #ef207b;
				cursor: pointer;
				user-select: none;
			}
		}
		.sizePoint {
			width: 270px;
			height: 10px;
			border: 1px solid #cfc9d5;
			border-radius: 3px;
			.ui-slider-handle {
				width: 16px;
				height: 16px;
				top: -3px;
				background: #ef207b;
				border-radius: 50%;
				border: none;
				cursor: pointer;
				outline: none;
			}
		}
	}
	.saveBtn {
		display: block;
		width: 150px;
		height: 40px;
		line-height: 40px;
		padding-left: 16px;
		text-align: center;
		background: #9a87be;
		border-radius: 3px;
		color: #fff;
		box-sizing: border-box;
		position: relative;
		text-decoration: none;
		user-select: none;
		cursor: pointer;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 14px;
			width: 18px;
			height: 18px;
			margin-top: -9px;
			background: url("../img/icons/download.svg") center center / cover no-repeat;
		}
	}
}


@media screen and (max-width: 1060px) {
	.container {
		flex-direction: column;
		margin-top: -1050px;
		height: 1900px;
		canvas {
			transform-origin: 50% 98%;
			margin-left: 0 !important;
			&.horizontalCanvas {
				margin-top: 200px;
			}
		}
		.borderControls {
			margin: 0;
			.addPhoto, .borderBox, .photoSize {
				margin-bottom: 15px;
			}
		}
	}
}



